{% extends "projbase.html.twig" %}

{% block main %}
    <div class="proj-content">
        <p><strong>Dealer: </strong> {{ dealerstat }}</p>
        <br>
        <form method="post" action="{{ path('blackjack_play') }}">
            {% for player in players %}
                <div class="player-info">
                    {% if player.getMoney() > 0 or player.getCurrentBet() > 0 %}
                        <p><strong>{{ player.getName() }}:</strong> {{ player.getHand() }} (<em><strong>poäng:</strong> {{ player.getHand().getValue() }}</em>)</p>
                        {% if player.getHand().getValue() <= 21 %}
                            {% if not player.isStanding() %}
                                <button class="button greenbg" type="submit" name="action[{{ loop.index0 }}]" value="h">Dra</button>
                                <button class="button greenbg" type="submit" name="action[{{ loop.index0 }}]" value="s">Stanna</button>
                            {% endif %}
                        {% else %}
                            <p><strong>{{ player.getName() }} har gått över!</strong></p>
                        {% endif %}
                        {% if player.isStanding() %}
                            <p><strong>{{ player.getName() }} har stannat!</strong></p>
                        {% endif %}
                    {% else %}
                        <p><strong>{{ player.getName() }} Har gått pank.</strong></p>
                    {% endif %}
                </div>
            {% endfor %}
        </form>
        <br>
        <button class="button yellow"><a href="{{ path('blackjack_home') }}">Starta om</a></button>
    </div>
{% endblock %}
